_site/.sass-cache
_site/tmp
_site/crash.log
_site/tmp/compiled_content

_site/tmp/dependencies

_site/tmp/rule_memory

_site/output/visitors/index.html

_site/output/supporter-packages/index.html

_site/output/sponsors/index.html

_site/output/speakers/zdeslav-vojkovic-zeromq-toolset-for-high-performance-distributed-applications/index.html

_site/output/speakers/veljko-dragsic-beyond-get/index.html

_site/output/speakers/srdjan-vranac-ansible-just-orchestrate-it/index.html

_site/output/speakers/sebastian-gottschkes-vagrant-to-the-rescue/index.html

_site/output/speakers/sasa-juric-thinking-in-actors/index.html

_site/output/speakers/nikola-plejic-how-when-and-why-clojure/index.html

_site/output/speakers/nikica-jokic-aggregating-data-consistently-and-accountably/index.html

_site/output/speakers/marko-ivankovic-measuring-test-coverage-at-google/index.html

_site/output/speakers/marko-elezovic-man-in-the-middle-attack-on-banks/index.html

_site/output/speakers/luka-muzinic-dashboards-for-devops-and-other-web-folks/index.html

speakers/merlin-rebrovic-storytelling-in-design-and-engineering/index.html

_site/output/speakers/marijan-suflaj-redis-in-practice/index.html

_site/output/speakers/jonn-mostovoy-modern-approaches-to-the-javascript-problem/index.html

_site/output/speakers/anna-chiara-bellini-gaming-a-drone-simulator/index.html
